.flyerIndex{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Carrousel index.html */
.galeriaIndex{
    width: 50%;
    border-style: dotted;
    border-color: rgb(172, 97, 0);
    display: inline-block;
    margin: 10px;
    padding: 30px;
    justify-content: center;
}